server {
    listen 443 ssl;
    server_name $SERVICE_DOMAIN;

    ssl_certificate /etc/nginx/certs/server.crt; 
    ssl_certificate_key /etc/nginx/certs/server.key; 

    ssl_client_certificate /etc/nginx/certs/ca.crt; 
    ssl_verify_client on; 


    location / {
        return 200 '{"status": "ok", "message": "Service is running"}';
    }

}
